{% extends "base.html" %}

{% block title %}選擇場次{% endblock %}

{% block content %}
  <h1>選擇場次</h1>
  <ul class="list-group">
    {% for screening in screenings %}
      <li class="list-group-item">
        🕒 {{ screening.screening_time|date:"Y-m-d H:i" }} ｜影廳：{{ screening.screen.name }}
        <br>
        <a class="btn btn-success btn-sm mt-1" href="{% url 'seat_booking' screening.id %}">選擇座位</a>
      </li>
    {% empty %}
      <li class="list-group-item">目前沒有場次</li>
    {% endfor %}
  </ul>
  <a class="btn btn-secondary mt-3" href="{% url 'movie_list' %}">⬅ 回電影清單</a>
{% endblock %}
